<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943493738194-fs1accn2smthmlq8ooapgs2npkkbho9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943493738194-fs1accn2smthmlq8ooapgs2npkkbho9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBQOeMvJm77w-zUtJ7kv-T_ic2O1CY1ppM</string>
	<key>GCM_SENDER_ID</key>
	<string>943493738194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>recipe-share-65df3</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-share-65df3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943493738194:ios:4c7072fdc23eb6eed8870b</string>
</dict>
</plist>